
table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

body {
    background-image: url('/images/warzone-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
     background-size: cover;
}